<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span i18n>Exchange</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="out-toolbar mat-typography">
    <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
    <ng-template #loaded>
        <mat-form-field fxFill>
            <mat-select placeholder="Select currency" [(value)]="selected">
                <mat-option *ngFor="let c of currencies" [value]="c">{{c}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="selected">
            <p class="mat-typography rate">{{rates[selected].toFixed(9)}}<wbr/>XEM/{{selected}}</p>
            <mat-form-field fxFill>
                <input matInput type="number" placeholder="Amount" [(ngModel)]="amount" />
                <span matSuffix>{{selected}}</span>
            </mat-form-field>
            <div fxLayout="row" fxFill>
                <mat-form-field fxFlex="33.3">
                    <input matInput type="number" disabled placeholder="Estimated XEM amount" [value]="(amount! / rates[selected]) || 0" />
                </mat-form-field>
                <mat-form-field fxFlex="33.3">
                    <input matInput type="number" disabled placeholder="XEM balance" [value]="dataService.getAmount('nem', 'xem')" />
                </mat-form-field>
                <mat-form-field fxFlex="33.3">
                    <input matInput type="number" disabled placeholder="LC{{selected}} balance" [value]="dataService.getAmount('lc', selected!.toLowerCase())"
                    />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFill>
                <button mat-raised-button color="warn" fxFlex="50" (click)="buy()">Buy LC{{selected}} (Sell XEM)</button>
                <button mat-raised-button color="accent" fxFlex="50" (click)="sell()">Sell LC{{selected}} (Buy XEM)</button>
            </div>
        </div>
    </ng-template>
</div>