<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <span i18n>Transfer</span>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="transfer()" [disabled]="sending">
        <mat-icon>send</mat-icon>
    </button>
</mat-toolbar>
<div class="out-toolbar">
    <mat-form-field fxFill>
        <input matInput placeholder="Recipient address" [disabled]="sending" [(ngModel)]="address" i18n-placeholder>
        <button mat-button matSuffix color="accent" matTooltip="Solve alias" (click)="resolveAlias()" i18n-matTooltip>@</button>
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutAlign="space-around">
        <mat-card fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let mosaic of transferMosaics; let i = index; trackBy:trackByIndex;">
            <mat-card-header>
                <div mat-card-avatar>
                    <img class="avatar-svg" [src]="mosaic.imageUrl" />
                </div>
                <mat-card-title>{{mosaic.namespace}}:{{mosaic.name}}</mat-card-title>
                <mat-card-subtitle>{{mosaic.issuer}}</mat-card-subtitle>
            </mat-card-header>
            <mat-form-field class="price-input">
                <input matInput type="number" placeholder="Amount" [disabled]="sending" [(ngModel)]="price[i]" i18n-placeholder />
                <span matSuffix>{{mosaic.unit}}</span>
            </mat-form-field>
        </mat-card>
    </div>
    <br />
    <div fxLayout="row wrap">
        <div fxFlex="25" fxFlex.sm="33.3" fxFlex.xs="50" *ngFor="let mosaic of ownedMosaics; let i = index; trackBy:trackByIndex;">
            <mat-grid-list cols="1" rowHeight="16:9">
                <mat-grid-tile>
                    <mat-card mat-ripple class="mosaic-card" matTooltip="{{mosaic.namespace}}:{{mosaic.name}}" (click)="addMosaic(i, null)">
                        <div class="mosaic-image">
                            <img [src]="mosaic.imageUrl" />
                        </div>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <br />
    <mat-form-field fxFill>
        <input matInput placeholder="Message" [disabled]="sending" [(ngModel)]="message" i18n-placeholder>
    </mat-form-field>
    <mat-checkbox fxFill [disabled]="sending" [(ngModel)]="encrypt" i18n>Encrypt message</mat-checkbox>
</div>