<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span i18n>History</span>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
</mat-toolbar>
<div class="out-toolbar mat-typography">
    <div class="progress">
        <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
    </div>
    <ng-template #loaded>
        <div fxLayout="column">
            <mat-tab-group fxFlex="100">
                <mat-tab label="Incoming" i18n-label>
                    <app-transaction *ngFor="let t of incomingTransactions" [transaction]="t"></app-transaction>
                </mat-tab>
                <mat-tab label="Outgoing" i18n-label>
                    <app-transaction *ngFor="let t of outgoingTransactions" [transaction]="t"></app-transaction>
                </mat-tab>
                <mat-tab label="Unconfirmed" i18n-label>
                    <app-transaction *ngFor="let t of unconfirmedTransactions" [transaction]="t"></app-transaction>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-template>
</div>