<mat-toolbar color="primary" routerLink="/">
  <button mat-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>履歴</span>
  <span class="fill-remaining-space"></span>
  <button mat-button matTooltip="更新" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="out-toolbar">
  <div class="progress">
    <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
  </div>
  <ng-template #loaded>
    <div fxLayout="column">
      <mat-tab-group fxFlex="100">
        <mat-tab label="受信履歴">
          <app-transaction *ngFor="let t of incomingTransactions" [transaction]="t"></app-transaction>
        </mat-tab>
        <mat-tab label="送信履歴">
          <app-transaction *ngFor="let t of outgoingTransactions" [transaction]="t"></app-transaction>
        </mat-tab>
        <mat-tab label="未承認取引">
          <app-transaction *ngFor="let t of unconfirmedTransactions" [transaction]="t"></app-transaction>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-template>
</div>