<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-button>
        <mat-icon>lock_open</mat-icon>
    </button>
    <span i18n>Log in</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="out-toolbar">
    <div class="progress">
        <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
    </div>
    <ng-template #loaded>
        <p class="mat-typography">
            This applications is specialized in not expensive mobile payment.
            <br /> To save your assets, please use Nano Wallet with another address, not LCNEM Wallet.
        </p>
        <button mat-raised-button fxFill color="accent" (click)="login()">Agree</button>
    </ng-template>
</div>