<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span i18n>Scan QR-code</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="out-toolbar">
    <mat-form-field fxFill *ngIf="availableDevices">
        <mat-select placeholder="Select camera" [(value)]="selected" i18n-placeholder>
            <mat-option *ngFor="let device of availableDevices; let i = index" [value]="i">{{device.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <zxing-scanner fxFill #scanner [device]="!isUndefined(selected) && availableDevices![selected!]" [hidden]="isUndefined(selected) || !availableDevices![selected!]">
    </zxing-scanner>
</div>