<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>QRコードをスキャン</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="out-toolbar">
    <mat-form-field fxFill *ngIf="availableDevices">
        <mat-select placeholder="カメラを選択" (change)="onDeviceSelectChange($event.target.value)">
            <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId">{{ device.label }}</mat-option>
        </mat-select>
    </mat-form-field>
    <zxing-scanner #scanner start="true" [cssClass]="'scan-frame'" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)">
    </zxing-scanner>
</div>