service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read, update: if request.auth.uid == user;
      allow create: if request.auth.uid != null;
      
      match /events/{event} {
        allow read, write: if request.auth.uid == user;

        match /groups/{group} {
          allow read, delete: if request.auth.uid == user;
        }

        match /sales/{sale} {
          allow read, create, delete: if request.auth.uid == user;
        }
      }
    }
  }
}