<mat-nav-list>
    <h3 mat-subheader>{{title}}</h3>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let m of _mosaics">
        <mat-list-item>
            <div mat-list-icon class="background-contain" [ngStyle]="{'background-image': 'url(' + m.imageUrl + ')'}"></div>
            <span>
                <span mat-line>{{m.name}}</span>
                <small mat-line>{{m.issuer}}</small>
            </span>
            <span class="fill-remaining-space"></span>
            <span style="text-align: right;">
                <span>{{m.unit}} </span>
                <span>{{m.amount}}</span>
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-nav-list>