<h2 mat-dialog-title>{{translation.confirmation[global.lang]}}</h2>
<mat-dialog-content>
    <mat-nav-list>
        <h3 mat-subheader>{{translation.expenses[global.lang]}}</h3>
        <mat-list-item *ngFor="let m of mosaics!">
            <span>{{getMosaicName(m)}} </span>
            <span class="fill-remaining-space"></span>
            <mat-icon></mat-icon>
            <span style="text-align: right;">
                <span>{{global.additionalDefinitions![getMosaicName(m)] && global.additionalDefinitions![getMosaicName(m)].unit}} </span>
                <span>{{m.amount}}</span>
            </span>
        </mat-list-item>
        <mat-list-item>
            <span>{{translation.fees[global.lang]}} </span>
            <span class="fill-remaining-space"></span>
            <span style="text-align: right;">
                <span>XEM </span>
                <span>{{Math.floor(transaction.fee) / 1000000}}</span>
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>{{translation.message[global.lang]}}</h3>
        <mat-list-item>
            <span>{{translation.encryption[global.lang]}} </span>
            <span class="fill-remaining-space"></span>
            <span style="text-align: right;">
                <mat-icon *ngIf="transaction.message.isEncrypted()">check</mat-icon>
                <mat-icon *ngIf="transaction.message.isPlain()">close</mat-icon>
            </span>
        </mat-list-item>
    </mat-nav-list>
</mat-dialog-content>
<mat-dialog-actions>
    <span class="fill-remaining-space"></span>
    <button mat-button mat-dialog-close color="warn">{{translation.no[global.lang]}}</button>
    <button mat-button [mat-dialog-close]="true" color="accent">{{translation.yes[global.lang]}}</button>
</mat-dialog-actions>