<app-mosaic-card *ngFor="let p of part;" [namespace]="p.namespace" [name]="p.name">
    <p class="amount">{{p.amount}}{{p.unit}}</p>
    <mat-form-field fxFill>
        <input matInput readonly placeholder="From" [value]="tt!.signer!.address.pretty()" i18n-placeholder />
    </mat-form-field>
    <mat-form-field fxFill>
        <input matInput readonly placeholder="To" [value]="tt!.recipient.pretty()" i18n-placeholder />
    </mat-form-field>
    <p class="message">{{message}}</p>
    <p class="date">{{tt!.timeWindow.timeStamp.toLocalDate()}} {{tt!.timeWindow.timeStamp.toLocalTime()}}</p>
</app-mosaic-card>