<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{translation.scan[lang]}}</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-form-field fxFill>
        <mat-select placeholder="{{translation.selectCamera[lang]}}" [(ngModel)]="selected">
          <mat-option *ngFor="let device of availableDevices; let i = index" [value]="i">{{device.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <zxing-scanner fxFill #scanner [device]="selectedDevice" [hidden]="!selectedDevice">
      </zxing-scanner>
      <p *ngIf="noCamera">
        {{translation.noCamera[lang]}}
      </p>
      <p *ngIf="!hasPermission">
        {{translation.noPermission[lang]}}
      </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>