<mat-toolbar color="primary" class="mat-elevation-z4 top-toolbar">
  <button mat-icon-button (click)="global.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{translation.editEvent[global.lang]}}</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="mat-typography body-container">
  <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
  <ng-template #loaded>
    <form #form="ngForm" (ngSubmit)="submit()">
      <mat-form-field fxFill>
        <input matInput placeholder="{{translation.eventName[global.lang]}}" [(ngModel)]="form.name" name="name"
          required />
      </mat-form-field>
      <button mat-raised-button color="accent" fxFill [disabled]="form.disabled">{{translation.submit[global.lang]}}</button>
    </form>
  </ng-template>
</div>