<mat-toolbar color="primary" class="mat-elevation-z4 top-toolbar">
  <button mat-icon-button (click)="global.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{translation.editEvent[global.lang]}}</span>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="mat-typography body-container">
  <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
  <ng-template #loaded>
    <h2>{{translation.editEvent[global.lang]}}</h2>
    <mat-card>
      <form #form="ngForm" (ngSubmit)="submit()">
        <h3>{{translation.editEvent[global.lang]}}</h3>
        <mat-form-field fxFill>
          <input matInput placeholder="{{translation.eventName[global.lang]}}" [(ngModel)]="name" name="name"
            required />
        </mat-form-field>
        <h3>{{translation.addGroup[global.lang]}}</h3>
        <div *ngFor="let group of groups; let i = index" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="65">
            <input matInput placeholder="{{translation.groupName[global.lang]}}" [(ngModel)]="group.name" name="group{{i}}-name" id="group{{i}}-name"
              required />
          </mat-form-field>
          <mat-form-field fxFlex="30">
            <input matInput type="number" placeholder="{{translation.capacity[global.lang]}}" [(ngModel)]="group.capacity" name="group{{i}}-capacity"
              required />
          </mat-form-field>
          <div fxFlex="2" (click)="deleteGroup(i)"><mat-icon>delete</mat-icon></div>
        </div>
        <div fxLayoutAlign="space-between center">
          <button mat-raised-button fxFlex="49" color="primary" (click)="addGroup()">{{translation.addGroup[global.lang]}}</button>
          <button mat-raised-button color="accent" fxFlex="49" [disabled]="form.disabled">{{translation.submit[global.lang]}}</button>
        </div>
      </form>
    </mat-card>
    <br>
    <h2>{{translation.history[global.lang]}}</h2>
    <mat-card>
      <app-group-list [groups]="addedGroups"></app-group-list>
    </mat-card>
  </ng-template>
</div>