<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{translation.eventDescription[lang]}}</span>
      <span class="fill-remaining-space"></span>
      <a mat-icon-button href="https://github.com/lcnem/ticket-p2p/wiki/ja-api" target="_blank">
        <mat-icon matTooltip="{{translation.githubInformation[lang]}}">info</mat-icon>
      </a>

    </mat-toolbar>
    <div class="mat-typography body-container">
      <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
      <ng-template #loaded>
        <mat-card>
          <mat-list class="like-dt-dd">
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>{{translation.eventName[lang]}}</p>
              <span>
                {{event.name}}
                <button mat-icon-button color="accent" (click)="editEventName()">
                  <mat-icon>edit</mat-icon>
                </button>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>{{translation.userId[lang]}}</p>
              <span>{{userId}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>{{translation.eventId[lang]}}</p>
              <span>{{id}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p>{{translation.privateKey[lang]}}</p>
              <span>{{event.privateKey}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card>
        <br />
        <h3>{{translation.eventOperations[lang]}}</h3>
        <mat-card>
          <mat-list class="actions">
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <h4>{{translation.addGroups[lang]}}</h4>
                <p>{{translation.addGroupsBody[lang]}}</p>
              </span>
              <span class="fill-remaining-space"></span>
              <span>
                <button mat-raised-button color="accent" (click)="addGroups()">{{translation.addGroups[lang]}}</button>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <h4>{{translation.startCamera[lang]}}</h4>
                <p>{{translation.startCameraBody[lang]}}</p>
              </span>
              <span class="fill-remaining-space"></span>
              <span>
                <button mat-raised-button color="accent" routerLink="/events/{{id}}/scan" [queryParams]="{ userId: userId }">{{translation.startCamera[lang]}}</button>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span>
                <h4>{{translation.deleteEvent[lang]}}</h4>
                <p>{{translation.deleteEventBody[lang]}}</p>
              </span>
              <span class="fill-remaining-space"></span>
              <span>
                <button mat-raised-button color="accent" (click)="deleteEvent()">{{translation.deleteEvent[lang]}}</button>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card>
        <br />
        <h3>{{translation.capacityAddHistory[lang]}}</h3>
        <mat-card>
          <app-group-list [userId]="userId" [eventId]="id"></app-group-list>
        </mat-card>
        <br />
        <mat-card>
          <app-sales-list [userId]="userId" [eventId]="id"></app-sales-list>
        </mat-card>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>