
.like-dt-dd mat-list-item p {
  margin: 0;
  width: 120px;
}

.like-dt-dd mat-list-item span {
  word-break: break-all;
}

.actions mat-list-item {
  height: initial;
}

.actions mat-list-item h4 {
  margin: 0.5em auto;
}

.actions mat-list-item p {
  color: gray;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
