
mat-grid-tile-header {
    z-index: 1;
}

.tile-image {
    height: 100%;
}

.tile-image img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.qr-image {
    display: block;
    margin: 0 auto;
}

.price {
    text-align: center;
    font-size: 300%;
}

.send-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
}