mat-card {
    margin: 6px;
}

.amount {
    font-size: 300%;
    line-height: 100%;
    text-align: center;
}
.price {
    text-align: center;
}

.avatar-svg {
    position: relative;
    margin-top: -50%;
    top: 50%;
    width: 100%;
}

.qr-image {
    display: block;
    margin: 0 auto;
}

.send-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 99;
}