<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{namespace}}:{{name}}</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>

<div class="out-toolbar">
    <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
    <ng-template #loaded>
        <app-mosaic-card [namespace]="namespace" [name]="name">
            <p class="amount">{{amount}}<wbr/>{{unit}}</p>
        </app-mosaic-card>

        <img class="qr-image" [src]="qrUrl" />
        <mat-form-field fxFill>
            <input matInput type="number" placeholder="Amount" [(ngModel)]="invoice.amount" i18n-placeholder />
            <span matSuffix>{{unit}}</span>
        </mat-form-field>
        <mat-form-field fxFill>
            <input matInput placeholder="Message" [(ngModel)]="invoice.message" i18n-placeholder />
        </mat-form-field>
        <button mat-raised-button color="accent" fxFill (click)="generateQr()" i18n>Generate QR-code</button>

        <button *ngIf="amount > 0" mat-fab color="accent" class="send-button" (click)="send()">
            <mat-icon>send</mat-icon>
        </button>
    </ng-template>
    <br />
</div>