mat-card {
    margin: 6px;
}

.price {
    font-size: 300%;
    line-height: 100%;
    text-align: center;
}

.qr-image {
    display: block;
    margin: 0 auto;
}

.send-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 99;
}