mat-card {
  border-radius: 5px;
}

dl {
  display: flex;
  margin: 0;
  padding: 15px 0;
}

dt {
  width: 30%;
  max-width: 120px;
}

dd {
  width: 70%;
  overflow: scroll;
}

.mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.mat-line.detail {
  color: #888;
}