<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{event && event.data.name}}</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="refresh()" [disabled]="loading">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="out-toolbar">
  <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
  <ng-template #loaded>
    <h3>{{translation.eventDescription[global.lang]}}</h3>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <span>{{translation.eventName[global.lang]}}</span>
          <span class="fill-remaining-space"></span>
          <span>{{event.data.name}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span>{{translation.userId[global.lang]}}</span>
          <span class="fill-remaining-space"></span>
          <span>{{userId}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span>{{translation.eventId[global.lang]}}</span>
          <span class="fill-remaining-space"></span>
          <span>{{event.id}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span>{{translation.privateKey[global.lang]}}</span>
          <span class="fill-remaining-space"></span>
          <span>{{event.data.privateKey}}</span>
        </mat-list-item>
      </mat-list>
      <button mat-raised-button color="accent" fxFill routerLink="/events/{{event.id}}/edit">{{translation.edit[global.lang]}}</button>
    </mat-card>
    <br>
    <h3>{{translation.eventOperations[global.lang]}}</h3>
    <mat-card>
      <mat-list>
        <mat-list-item>
          <span matLine>{{translation.startSelling[global.lang]}}</span>
          <span matLine>{{translation.startSellingBody[global.lang]}}</span>
          <span class="fill-remaining-space"></span>
          <span>
            <button mat-raised-button color="accent" [disabled]="event.data.sellingStarted" (click)="startSelling()">{{translation.startSelling[global.lang]}}</button>
          </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span matLine>{{translation.endSelling[global.lang]}}</span>
          <span matLine>{{translation.endSellingBody[global.lang]}}</span>
          <span class="fill-remaining-space"></span>
          <span>
            <button mat-raised-button color="accent" [disabled]="!event.data.sellingStarted" (click)="endSelling()">{{translation.endSelling[global.lang]}}</button>
          </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <span matLine>{{translation.startCamera[global.lang]}}</span>
          <span matLine>{{translation.startCameraBody[global.lang]}}</span>
          <span class="fill-remaining-space"></span>
          <span>
            <button mat-raised-button color="accent" routerLink="/events/{{event.id}}/scan" [queryParams]="{ userId: userId }"
              [disabled]="!event.data.sellingEnded">{{translation.startCamera[global.lang]}}</button>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <br />
    <h3 mat-subheader>{{translation.eventPurchases[global.lang]}}</h3>
    <mat-card>
      <app-purchases-list [purchases]="event.purchases"></app-purchases-list>
    </mat-card>
  </ng-template>
</div>