<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <span>{{translation.withdraw[global.lang]}}</span>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="out-toolbar">
    <iframe [src]="safeSite" fxFill></iframe>
    <mat-form-field fxFill>
        <mat-select placeholder="{{translation.currency[global.lang]}}" [(ngModel)]="selectedCurrency">
            <mat-option *ngFor="let c of supportedCurrencies" [value]="c">{{c}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFill>
        <input matInput placeholder="{{translation.amount[global.lang]}}" [(ngModel)]="amount" />
    </mat-form-field>
    <mat-form-field fxFill>
        <mat-select placeholder="{{translation.type[global.lang]}}" [(ngModel)]="type">
            <mat-option value="kyash" *ngIf="selectedCurrency == 'JPY'">kyash</mat-option>
            <mat-option value="amazon">{{translation.amazonGift[global.lang]}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" fxFill [disabled]="!amount || !type" (click)="withdrawRequest()">{{translation.request[global.lang]}}</button>
</div>