<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{translation.history[global.lang]}}</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="refresh()" [disabled]="loading">
        <mat-icon>refresh</mat-icon>
    </button>
</mat-toolbar>
<div class="out-toolbar">
    <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
    <ng-template #loaded>
        <div fxLayout="column">
            <mat-tab-group fxFlex="100">
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{translation.unconfirmed[global.lang]}}
                    </ng-template>
                    <div class="tab">
                        <app-transaction *ngFor="let t of unconfirmedTransactions" [transaction]="t"></app-transaction>
                        <p class="empty" *ngIf="!unconfirmedTransactions.length">{{translation.noUnconfirmed[global.lang]}}</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <mat-tab-group fxFlex="100">
                <mat-tab label="Incoming">
                    <ng-template mat-tab-label>
                        {{translation.incoming[global.lang]}}
                    </ng-template>
                    <div class="tab">
                        <app-transaction *ngFor="let t of incomingTransactions" [transaction]="t"></app-transaction>
                        <p class="empty" *ngIf="!incomingTransactions.length">{{translation.noIncoming[global.lang]}}</p>
                    </div>
                </mat-tab>
                <mat-tab label="Outgoing">
                    <ng-template mat-tab-label>
                        {{translation.outgoing[global.lang]}}
                    </ng-template>
                    <div class="tab">
                        <app-transaction *ngFor="let t of outgoingTransactions" [transaction]="t"></app-transaction>
                        <p class="empty" *ngIf="!outgoingTransactions.length">{{translation.noOutgoing[global.lang]}}</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-template>
</div>