/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
  overflow: auto;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

.top-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.body-container {
  padding: 16px;
}

mat-spinner {
  margin: 0 auto;
}

.background-contain {
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
