
.add-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 99;
}

mat-card {
  border-radius: 12px;
  cursor: pointer;
  margin: 6px;
}

.capacity {
  font-size: 400%;
  text-align: center;
}