<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z16">
    <mat-toolbar>
      <button mat-icon-button class="background-contain" [ngStyle]="{'background-image': 'url(favicon.svg)'}"></button>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button class="background-contain" [ngStyle]="{'background-image': 'url(' + global.photoUrl + ')'}"></button>
    </mat-toolbar>
    <div fxLayout="column">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon mat-list-icon>lock_open</mat-icon>
          {{translation.logout[global.lang]}}
        </mat-list-item>
        <mat-list-item routerLink="/accounts/terms">
          <mat-icon>list_alt</mat-icon>
          {{translation.terms[global.lang]}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <a mat-list-item href="https://lcnem.cc" target="_blank">
          <mat-icon mat-list-icon class="background-contain" [ngStyle]="{'background-image': 'url(assets/lcnem.svg)'}"></mat-icon>
          LCNEM
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>ちけっとピアツーピア</span>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="refresh()" [disabled]="loading">
        <mat-icon>refresh</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="global.lang = 'en'">
          English
        </button>
        <button mat-menu-item (click)="global.lang = 'ja'">
          日本語
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="langMenu" yPosition="below">
        {{global.lang}}
      </button>
    </mat-toolbar>
    <div class="out-toolbar">
      <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
      <ng-template #loaded>
        <div fxLayout="row wrap">
          <div *ngFor="let event of global.events" fxFlex.xs="100" fxFlex="50">
            <mat-card matRipple routerLink="/events/{{event.id}}">
              <mat-card-header>
                <mat-card-title>
                  {{event.data.name}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-list-item *ngFor="let group of event.data.groups">
                    <span>{{group.name}}</span>
                    <span class="fill-remaining-space"></span>
                    <span>{{group.capacity}}</span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <p *ngIf="!global.events.length" style="text-align: center;">{{translation.empty[global.lang]}}</p>
        <button mat-fab color="accent" class="add-button" (click)="createEvent()">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>