<mat-toolbar color="primary" class="mat-elevation-z4 top-toolbar">
  <button mat-icon-button>
    <mat-icon>lock_open</mat-icon>
  </button>
  <span>{{translation.login[global.lang]}}</span>
  <span class="fill-remaining-space"></span>
  <mat-menu #langMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="global.lang = 'en'">
      English
    </button>
    <button mat-menu-item (click)="global.lang = 'ja'">
      日本語
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="langMenu" yPosition="below">
    {{global.lang}}
  </button>
</mat-toolbar>
<div class="mat-typography body-container">
  <mat-spinner *ngIf="loading; else loaded"></mat-spinner>
  <ng-template #loaded>
    <iframe [src]="safeSite" fxFill></iframe>
    <mat-checkbox [(ngModel)]="agree">{{translation.agree[global.lang]}}</mat-checkbox>
    <button mat-raised-button fxFill color="accent" [disabled]="!agree" (click)="login()">
      <mat-icon class="background-contain" [ngStyle]="{'background-image': 'url(assets/images/google.svg)'}"></mat-icon>
      　{{translation.login[global.lang]}}
    </button>
  </ng-template>
</div>