<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z4 top-toolbar">
      <button mat-icon-button (click)="global.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{translation.privacyPolicy[global.lang]}}</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="mat-typography body-container">
      <iframe [src]="safeSite" class="mat-elevation-z1"></iframe>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>